.trail {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: magenta;
    pointer-events: none;
    opacity: 0.5;
    animation: trail 1.0s ease-in-out infinite;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 0% 35%, 39% 35%);
    box-shadow: 0 0 10px rgba(255, 64, 230, 0.753);
}

@keyframes trail {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(3);
        background-color: rgb(255, 238, 0);
        opacity: 0;
    }
}

